.project
doc/grafi/out/*png
rake_test.*
logdo.log
hosts/me
*.err
*.out
*.o
*.swp
.DS_Store
thumbs.db
Thumbs.db
log/*.log
tmp/**/*
..bash*
t
tt
tt1
tt2
tt3
ttt*
.svn/entries
*~
t.err
*.lock
*.stackdump
vendor/256colori/xterm256-conv/conv-rgb2xterm
vendor/256colori/xterm256-conv/xtermize-gvim-scheme
tmp/init.sh.lastver
etc/globali.conf
.xchat2/scrollback/*/*.txt
.fbcmd/maildata.txt
.fbcmd/postdata.txt
