bashrc.local
rake_test.*
logdo.log
*.err
*.out
*.o
*.swp
.DS_Store
thumbs.db
Thumbs.db
t
tt
tt1
tt2
tt3
ttt*
*~
t.err
*.lock
*.stackdump
*.kate-swp
.pydevproject
bashrc.d/local.d/*.include
.autopull
.autopush
.git.autopulled
.git.autopushed

bin/geo-ip-city.sh
doc
*.gemspec
.echodo_history
.ondir.was.here.touch
.cache
node_modules/
.venv/
checklist.chk
docz/richelp-30d/
t.sh
deleteme
bin-*ago
bin-8c/
