# TODO require puppet-lint
language: ruby
rvm: 
# - 1.8.7
# - 1.9.3
 - 2.5.3
branches:
  only:
    - master
notifications:
  email:
    - palladiusbonton+github@gmail.com
before_install:
  - gem install bundler --pre
  - bundle install
env:
  - RICCARDO_MESSAGE="Modestamente sono un figo e ascolto volentieri i Travis in formato YAML"
#  - PUPPET_VERSION=2.6.14
#  - PUPPET_VERSION=2.7.11
################################################################################
# COPIED FROM HERE: https://github.com/travis-ci/travis-ci/blob/master/.travis.yml
#bundler_args: "--without development"
#before_install:
#  - gem install bundler --pre
#before_script:
#  - "cp config/database.example.yml config/database.yml"
#script: "RAILS_ENV=test bundle exec rake test:ci --trace"
script: 
- bin/rublurb
- bundle exec rake --trace
- make test
#notifications:
#  irc: "irc.freenode.org#travis"
#  campfire:
#    secure: "JJezWGD9KJY/LC2aznI3Zyohy31VTIhcTKX7RWR4C/C8YKbW9kZv3xV6Vn11\nSHxJTeZo6st2Bpv6tjlWZ+HCR09kyCNavIChedla3+oHOiuL0D4gSo+gkTNW\nUKYZz9mcQUd9RoQpTeyxvdvX+l7z62/7JwFA7txHOqxbTS8jrjc="
################################################################################
